{% extends '@Shop/base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <h2>{{ title }}</h2>
        <div><a href="{{ path('create_product') }}" class="btn btn-info" role="button">Add Product</a>
            <a href="{{ path('deleted_product_list') }}" class="btn btn-info" role="button">Deleted Product List</a>
        </div>
        <br/>
        <div class="row">
            {% include '@Shop/product/search.html.twig' %}
        </div>
        <br/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Manufacture</th>
                <th>Model</th>
                <th>Year of Manufacture</th>
                <th>Category</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if products is not null %}
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.manufacture.name }}</td>
                        <td>{{ product.model }}</td>
                        <td>{{ product.yearOfManufacture | date }}</td>
                        <td>{{ product.category.name }}</td>
                        <td>{{ product.price |number_format(2, '.', ',') }}</td>
                        <td>
                            <a href="{{ path('edit_product', { 'id': product.id }) }}" class="btn btn-success"
                               role="button">Edit</a>
                            {% if product.status == 1 %}
                                <a href="{{ path('delete_product', { 'id': product.id }) }}"
                                   class="btn delete btn-danger" role="button">Delete</a>
                            {% else %}
                                <a href="{{ path('activate_product', { 'id': product.id }) }}"
                                   class="btn delete btn-danger" role="button">Activate</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            $(document).ready(function () {

                $(".delete").click(function ($this) {

                    bootbox.confirm("Are you sure?", function (result) {
                        var url = $this.val();
                        alert(url);
                        if (result) {
                            $.ajax({
                                url: url,
                                type: 'delete',
                                success: function (result) {
                                    console.log('Delete');
                                },
                                error: function (e) {
                                    console.log(e.responseText);
                                }
                            });
                        }
                    });
                });
            });
        </script>
    {% endblock %}

{% endblock %}
