{% extends '@Shop/base.html.twig' %}
{% block content %}
    <div class="container">
        <h2>Product List</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Manufacture</th>
                <th>Model</th>
                <th>Year of Manufacture</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% if products is not null %}
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.manufacture.name }}</td>
                        <td>{{ product.model }}</td>
                        <td>{{ product.yearOfManufacture | date }}</td>
                        <td>{{ product.category.name }}</td>
                        <td>{{ product.price |number_format(2, '.', ',') }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
