{% extends 'base.html.twig' %}

{% block content %}
    {{ parent() }}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.name, 'Hotel', {'label_attr': {'class': 'control-label col-xs-2'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="reset" class="btn btn-default back_hotel">Back</button>

    {{ form_end(form) }}
{% endblock %}
